/* 지도 */
#map {
    width: "100%";
    height: 500px;
    box-sizing: border-box;
}

@media only screen and (min-width : 992px) {
    #map {
        margin-left: 40px;
    }
}

#canvas {
    float: left;
    position: relative;
    width: 320px;
    height: 500px;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 20px;
}

#map_logo {
    font-family: 'GmarketSansLight', sans-serif;
    width: 100%;
    font-size: 1.5rem;
    padding-top: 10px;
    /* padding-left: 10px; */
    text-align: center;
}

#south {
    padding-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, .12);
    width: 320px;
    height: 400px;
    position: absolute;
    top: 55px;
    left: 0px;
}

#canvas h2 {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: sans-serif;
}

#canvas h2 {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: sans-serif;
}

#seoul,
#gygg,
#incheon,
#gangwon,
#chungbuk,
#chungnam,
#daejeon,
#sejong,
#jeonbuk,
#jeonnam,
#gwangju,
#gyeongbuk,
#gyeongnam,
#daegu,
#busan,
#ulsan,
#jeju {
    display: none;
    position: absolute;
    height: 16px;
    background-color: #000;
    color: #fff;
    padding: 2px 5px;
    text-align: center;
}

#seoul {
    left: 80px;
    top: 135px;
}

#gygg {
    left: 80px;
    top: 105px;
}

#incheon {
    left: 60px;
    top: 135px;
}

#gangwon {
    left: 150px;
    top: 105px;
}

#chungbuk {
    left: 120px;
    top: 205px;
}

#chungnam {
    left: 60px;
    top: 225px;
}

#daejeon {
    left: 80px;
    top: 225px;
}

#sejong {
    left: 70px;
    top: 205px;
}

#jeonbuk {
    left: 60px;
    top: 265px;
}

#jeonnam {
    left: 60px;
    top: 320px;
}

#gwangju {
    left: 60px;
    top: 320px;
}

#gyeongbuk {
    left: 150px;
    top: 225px;
}

#gyeongnam {
    left: 130px;
    top: 300px;
}

#daegu {
    left: 170px;
    top: 270px;
}

#busan {
    left: 190px;
    top: 310px;
}

#ulsan {
    left: 200px;
    top: 285px;
}

#jeju {
    left: 80px;
    top: 400px;
}